.game-mode {
    button {
        background-color: $gray-midium;
        border-color: $gray-midium;
        color: $gray-dark;
        width: 100%;
    }

    &_list {
        list-style: none;

        li {
            display: table;
        }

        h2, p {
            display: table-cell;
        }
    }
}