.game-mode {
    button {
        background-color: $gray-midium;
        border-color: $gray-midium;
        color: $gray-dark;
        width: 100%;
    }

    &_list {
        list-style: none;

        .dropdown-item {
            display: table;
        }

        h2, p {
            display: table-cell;
            width: 60%;
            font-size: 1rem;
        }

        p {
            width: 40%;
            text-align: right;
        }
    }
}