.leader-board {
    h2 {
        margin-bottom: 20px;
        color: $gray-dark;
    }

    &_list {
        li {
            background-color: $gray-midium;
            padding: 20px 10px;
            margin-bottom: 5px;
            color: $gray-dark;
            font-size: 1.5rem;
            display: table
        }

        span {
            display: table-cell;
            padding: 0 5px;
        }
    }

    &_name {
        width: 60%;
    }
}